:root {
    --back-color: #0A0A0A;
    --fore-color: white;
    --unselect-color: rgba(255, 255, 255, 0.8);
    --vertical-margin: 8px;
    --horizontal-margin: 16px;
}

body {
    margin: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    height: fit-content;
}

#info {
    margin-left: var(--horizontal-margin);
    width: 50%;
}

p {
    color: var(--fore-color);
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

h1 {
    color: var(--fore-color);
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-weight: 600;
    font-size: 14pt;
}

#div_contact {
    width: 100%;
    align-content: center;
}

#p_contact {
    margin: auto;
    width: fit-content;
}

a {
    color: var(--fore-color);
    font-family: "Alegreya Sans", sans-serif;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12pt;
}