:root {
    --background-color: ghostwhite;
    --light-contrast-fill: white;
    --dark-contrast-fill: rgb(231, 231, 231);
    --text-color: black;
    --highlight: blue;
    --link-visited: purple;
    --line-style: 1px solid black;
    --body-font-size: 20px;
}

body {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

p {
    text-align: justify;
    font-family: "Alegreya", serif;
    font-size: var(--body-font-size);
    margin: 0px;
    margin-bottom: 16px;
}

p:last-child {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5 ,h6 {
    font-weight: 800;
    margin: 0px;
    margin-bottom: 16px;
}

a {
    color: var(--highlight);
    font-size: var(--body-font-size);
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: var(--link-visited);
}

table {
    width: auto;
    border: var(--line-style);
    padding: 8px;
    background-color: var(--light-contrast-fill);
    border-width: 1px;
    border-spacing: 0px;
}

th {
    font-size: large;
    font-weight: 800;
}

td {
    font-size: 16px;
    font-weight: bold;
}

td:nth-child(2) {
    text-align: right;
}

td, th {
    padding: 8px;
}

td a, th a {
    font-size: inherit;
    font-weight: normal;
}

tr:nth-child(odd) {
    background-color: var(--light-contrast-fill);
}

tr:nth-child(even) {
    background-color:var(--dark-contrast-fill);
}

#title, #title:visited {
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    width: fit-content;
    margin: 16px auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 736px;
    height: fit-content;
    margin: 0px auto;
    padding: 0px 32px;
}

#txtContent
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

#social {
    align-content: end;
    flex-grow: 1;
}

.navLink {
    text-align: center;
    font-size: var(--body-font-size);
}

.navLine {
    border-bottom: var(--line-style);
    height: fit-content;
    width: 16px;
    margin: 0px 8px;
}

.navLine:first-child, .navLine:last-child {
    width: 50%;
}

.navLine:first-child {
    margin-left: 0px;
}

.navLine:last-child {
    margin-right: 0px;
}

.socialLink, .socialLink:visited, .navLink, .navLink:visited, #title {
    text-decoration: none;
    color: var(--text-color);
}

.socialLink:hover, .navLink:hover, #title:hover {
    color: var(--highlight);
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    border: none;
    padding: 0px;
  }

  #content {
    margin: 0px;
    padding: 0px;
    padding-bottom: 16px;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  #txtContent
  {
    padding: 16px 32px;
  }

  
  .navLink, #title{
      border: none;
      border-bottom: var(--line-style);
      margin: 0px;
      padding: 16px 0px;
      width: 100%;
  }

  .navDash, .navLine {
    display: none;
  }
}
