:root {
    --background-color: antiquewhite;
    --forground-color: black;
}

html, body {
  font-family: "Alegreya", serif;
  font-size: 18px; /* Sets the standard base size for the site */
  background-color: var(--background-color);
}

body {
  margin: 8px;  
}

nav {
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid var(--forground-color);
    padding-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

a {
  text-decoration-line: underline;
  font-weight: 500;
  text-decoration-thickness: 1px; /* Adjust the thickness here */
}

hr {
    border-color: var(--forground-color);
    border-style: solid;
}

a:link {
    color: darkslateblue;
}

a:visited {
    color: darkmagenta;
}

nav a, nav a:link, nav a:visited {
    display: inline-block;
    padding: 8px 8px;
    color: var(--forground-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--forground-color);
    color: var(--background-color);
}